<div id="<%= dom_id task %>">
  <p>
    <strong>Account:</strong>
    <%= task.account_id %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= task.public_id %>
  </p>

  <p>
    <strong>Fee:</strong>
    <%= task.fee %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= task.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

</div>
