<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <% if task.persisted? %>
    <div>
      <%= form.label :status, style: "display: block" %>
      <%= form.select :status, Task.statuses.keys.map { |key| [key.humanize, key] }, selected: @task.status || :assigned, disabled: @task.completed? %>
    </div>
  <% end %>

<!--    <div>-->
  <%#= form.label :account_id, style: "display: block" %>
  <%#= form.select :account_id, Account.employee.map { |acc| [acc.name, acc.id] }, selected: @task.account_id || Account.employee.pick(:id) %>
<!--    </div>-->

  <div>
    <%= form.submit %>
  </div>
<% end %>
