<p style="color: green"><%= notice %></p>

<%= render @task %>

<div>
  <% unless @task.completed? %>
    <%= link_to "Edit this task", edit_task_path(@task) %> |
  <% end %>
  <%= link_to "Back to tasks", tasks_path %>

  <%= button_to "Destroy this task", @task, method: :delete %>
</div>
